* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    height: 100%;
    letter-spacing: 0.5px;
}

.container-fluid {
    margin-top: 130px;
}

.cursor-pointer {
    cursor: pointer;
}

.placeholder-light::placeholder {
    opacity: 0.5;
}

.primary-color-text {
    color: rgba(27, 52, 104, 1);

}

.custom-blue-color-text {
    color: rgba(50, 121, 204, 1);

}

.custom-green-color-text {
    color: rgba(43, 181, 150, 1)
}


.primary-color-bg {
    background-color: rgba(27, 52, 104, 1);
}